$feather: #eee;
$bodytext: #444;
$gentletext: #888;
$verygentletext: #888;
$heavytext: #111;
$pagecolor: #fff;
$headertext: #fff;


html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  color: $bodytext;
  font-size: 16px;
  line-height: 1.6;
}

@media (min-width: 800px) {
  body {
    font-size: 20px;
  }
}

a:link,
a:visited {
  color: #222;
}

header,
footer {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: -1em;
  color: $gentletext;
}
header {
  height: 250px;
  position: relative;
  color: $headertext;
  font-family: Helvetica,Arial,sans-serif;
}
header h1 {
  color: $headertext;
  font-size: 2em;
  font-weight: 700;
}
.nav a:link, .nav a:visited {
  color: $headertext;
  text-transform: uppercase;
}
header:after {
  content: "";
  background: rgb(247,108,29);
  background: linear-gradient(180deg, rgba(247,108,29,1) 0%, rgba(250,217,97,1) 100%);
  height: 100%;
  right: 0;
  left: 0;
  bottom: 90px;
  z-index: -1;
  position: absolute;
  display: block;
  transform: skew(0deg,1deg);
}
footer {
  margin-top: 6em;
  border-top: solid 1px $feather;
}


.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
@media (min-width: 800px) {
  .container {
    width: 700px;
  }
}

hr {
  border-style: none;
  border-bottom: solid 1px $feather;
  margin-top: 2em;
  margin-bottom: 3em;
}
.post-content img {
  width: 100%;
}

p.meta {
  color: $bodytext;
  font-size: 0.8em;
}

ul.listing {
  list-style: none;
  list-style-position: outside;
  padding-top: 1em;
  padding-left: 0;
  li {
    margin-bottom: 3em;
  }
  h3 {
    padding-top:0;
    margin-top:0;
  }
  p.meta {
    padding-bottom:0.5em;
    margin-bottom:0;
  }
}


h1,h2,h3,h4 {
  font-family: sans-serif;
  line-height: 1.1;
  color: $heavytext;
}

h2 {
  font-size: 34px;
  letter-spacing: -.01em;
  small {
    font-size: 0.5em;
    font-weight: normal;
    color: $gentletext;
  }
}

h3 {
  margin-top: 2em;
}

figure {
  margin-left: 0;
  margin-right: 0;
}
figcaption {
  text-align: center;
  color: $verygentletext;
  font-size: 0.7em;
}

blockquote {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -2em;
  padding-left: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-left: solid 3px $gentletext;
  em {
    font-style: normal;
  }
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
  padding-right: 1em;
  background-color: $feather;
  font-size: 0.7em;
  overflow-x: scroll;
}

.tilaukset img {
  width: 64px;
  height: 64px;
  margin-right: 32px;
  padding-top: 1em;
}