<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ item.title if item.title else title }} | Lautakunta</title>
    <style>{% include "css/styles.css" %}</style>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Lautakunta-podcast</h1>
        <div class="nav"><a href="/">jaksot</a></div>
      </div>
    </header>
    <div class="container">
      {{ content | safe }}
    </div>
    <footer>
      <div class="container">
        Sivuston toteutus: <a href="https://www.mikkosaari.fi/">Mikko Saari</a> | <a href="https://11ty.io">Eleventy</a> | <a href="{{ pkg.repository.url }}">lähdekoodi</a>
      </div>
    </footer>
  </body>
</html>
