---
layout: layouts/base.njk
title: Lautakunta – Suomalainen lautapelipodcast
---

<p>Lautakunta on suomalaisten lautapelibloggaajien podcast. Jaksoja ilmestyy kahden viikon välein ja aiheet pyörivät lautapelaamisen ympärillä.</p>

<p>Uusia jaksoja ilmestyy maanantaisin kahden viikon välein. Kesällä podcast pitää pienen kesäloman, samoin joulukuussa.</p>

<p>Lautakunnan tekijöille voit antaa palautetta sähköpostilla <a href="mailto:mikko@lautapeliopas.fi">mikko@lautapeliopas.fi</a>.</p>

<hr/>

<h2>Tilaa podcast</h2>

<div class="tilaukset">
<a href="https://soundcloud.com/mikko-saari-431041221"><img src="/img/soundcloud-logo.png" alt="Tilaa Soundcloudiin"/></a>
<a href="https://podcasts.apple.com/fi/podcast/lautakunta/id1078588234"><img src="/img/apple-podcasts-logo.png" alt="Tilaa Apple Podcastsiin"/></a>
<a href="https://pca.st/itunes/1078588234"><img src="/img/pocket-casts-logo.png" alt="Tilaa Pocket Castsiin"/></a>
<a href="https://overcast.fm/itunes1078588234/lautakunta"><img src="/img/overcast-logo.png" alt="Tilaa Overcastiin"/></a>
<a href="https://youtube.com/lautapeliopas"><img src="/img/youtube-logo.png" alt="Katso Youtubessa"/></a>
</div>

<hr/>

<h2>Jaksot</h2>
<ul class="listing">
{% for item in rssfeed.posts %}
  <li>
    <p class="meta">{{ item.pubDate | date }}</p>
    <h3><a href="/jaksot/{{ item.path }}">{{ item.title }}</a></h3>
  </li>
 {% endfor %}
</ul>
