---
layout: layouts/base.njk
title: Lautakunta – Suomalainen lautapelipodcast
---

<p>Lautakunta on suomalaisten lautapelibloggaajien podcast. Jaksoja ilmestyy kahden viikon välein ja aiheet pyörivät lautapelaamisen ympärillä.</p>

<p>Uusia jaksoja ilmestyy maanantaisin kahden viikon välein. Kesällä podcast pitää pienen kesäloman, samoin joulukuussa.</p>

<p><a href="https://soundcloud.com/mikko-saari-431041221">Podcast löytyy Soundcloudista</a>.
<a href="http://feeds.soundcloud.com/users/soundcloud:users:201911010/sounds.rss">Podcastin RSS-syöte on tilattavissa</a>
ja jaksot löytyvät myös <a href="http://youtube.com/lautapeliopas">Youtubesta Lautapelioppaan kanavalta</a>.</p>

<p>Lautakunnan tekijöille voit antaa palautetta sähköpostilla <a href="mailto:lautakunta@lautapeliopas.fi">lautakunta@lautapeliopas.fi</a>.</p>
<hr/>

<h2>Jaksot</h2>
<ul class="listing">
{% for item in rssfeed.posts %}
  <li>
    <p class="meta">{{ item.pubDate | date }}</p>
    <h3><a href="/jaksot/{{ item.path }}">{{ item.title }}</a></h3>
  </li>
 {% endfor %}
</ul>
