---
layout: layouts/base.njk
pagination:
  data: rssfeed.posts
  size: 1
  alias: item
permalink: jaksot/{{ item.path }}/index.html
title: {{ item.title }}
---

<p class="meta">{{ item.pubDate | date("YYYY") }}</p>
<h2>{{ item.title }}</h2>
<div class="post-content">
  <p>{{ item['link'] }}</p>

  {{ item['itunes:summary'] | string | urlize | nl2br | safe }}
</div>

